{% extends 'base.html' %}
{% load static %}

{% block container_block  %}

<h2> About Us </h2>

<div class="container-fluid">
  <h5>
 At A2zservice we offer several growth opportunities and platform to proove your 
 skills and work with one of the most dynamic team.
</h5>
<p> A2zservice is committed to provide professional home repair services to our consumers 
providing seamless experience of service delivery at doorstep, Currently we operate 
at Nagpur, Maharastra and soon planning to expand our operations in other ciites.
</p>
</div>


 {% endblock %}