{% extends 'base.html' %}
{% load static %}

{% block container_block  %}
<!-- Masthead -->
   <header class="box1 text-white text-center">
    <div class="overlay"></div>
    <div class = "box1">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">List of Services</h1>
          <h3><i class="fa fa-check-square-o"></i> Checked Expert Technician
          <i class="fa fa-check-square-o"></i> Free Inspection
          <i class="fa fa-check-square-o"></i> 7 days warranty. </h3>
        </div>
      </div>
    </div>
    </div>
  </header> 
<br>

{% comment %} <div class="container">
     <h2>Choose your service </h2>
            <div class="row">
           
            {% for service in services%}

        <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <a href = "{% url 'service:service' name=service.service_name%}"> <img class="dress-card-img-top" src="{{service.image.url}}" alt=""> </a>
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="{% url 'service:service' name=service.service_name%}"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title"><a href="{% url 'service:service' name=service.service_name%}" >{{service.service_name}}</a></h4>
            <p class="dress-card-para">{{service.description|truncatechars_html:15}}</p>
            
            <div class="row">
              <div class=" card-button"><a href="{% url 'service:service' name=service.service_name%}"><div class="card-button-inner bag-button">Book service</div></a></div>
             
            </div>
          </div>
        </div>
      </div>
        
            {% endfor %} 

                

        </div>
    </div> {% endcomment %}



<!-- crasoual-->

<div container>
<div class="container-xl">
	<div class="row">
		<div class="col-md-12">

    <h2>Coose Your <b>Services</b></h2>
<div id="myCarousel" class="carousel slide my-3" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators">
                {% for i in range %}
				<li data-target="#myCarousel" data-slide-to="{{i}}" class="active"></li>
                {% endfor %}
	
			</ol>  

    <div class="carousel-inner ">
      <div class="carousel-item active">          
        {% for service in services|slice:"0:"%}
        <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <a href = "{% url 'service:service' name=service.service_name%}"> <img class="dress-card-img-top" src="{{service.image.url}}" alt=""> </a>
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="{% url 'service:service' name=service.service_name%}"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title"><a href="{% url 'service:service' name=service.service_name%}" >{{service.service_name}}</a></h4>
            <p class="dress-card-para">{{service.description|truncatechars_html:15}}</p>
            
            <div class="row">
              <div class=" card-button"><a href="{% url 'service:service' name=service.service_name%}"><div class="card-button-inner bag-button">Book service</div></a></div>
             
            </div>
          </div>
        </div>
      </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}
        {% endfor %}
    </div>
   </div>
  </div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
  </div>
  </div>
 </div>
<!-- crasoual end-->    


{% endblock %}